<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="upp.foodonet" >

    <uses-sdk tools:overrideLibrary="android.support.v17.leanback" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCoeHSRmhMEo-S7qx9NXW3p0uONhFq2-eY" />

        <activity
            android:name=".EntranceActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddNewFCPublicationActivity"
            android:label="@string/title_activity_add_new_fcpublication" >
        </activity>
       
        <provider
            android:name=".FooDoNetSQLProvider"
            android:authorities="foodonet.foodcollector.sqlprovider"
            android:enabled="true"
            android:multiprocess="true" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_entrance" >
        </activity>
    </application>

</manifest>
